body {
  
  
    background: url(../images/nintendo_background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: whitesmoke;
    background-blend-mode: lighten; 

  
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: lighten;
}

#faveTitle {
    color: black;
    font-weight: bold;
}
.gif, p {
    font-size: 18px;
    font-weight: bold;
    color: #5e83fa;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.733);
    text-align: center;
    
}

.faveDiv, p {
    font-size: 18px;
    font-weight: bold;
    color: #5e83fa;
    min-width: 250px;
    background-color: rgba(255, 255, 255, 0.733);
    text-align: center;
}



.formDiv {

    color: greenyellow;
    
}

#favoriteGifs {
    max-width: 200px;
    border-left-width: 2px;
    border-left-color: gray;
}
#faveTitle {
    text-align: center;

}

/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .faveDiv, p {
        width: 100%;
    }
    
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .faveDiv, p {
        width: 100%;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .faveDiv, p {
        width: 100%;
    }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
 }