body {
  
  
    background: url(../images/nintendo_background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: whitesmoke;
    background-blend-mode: lighten; 

  
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: lighten;
}

#faveTitle {
    color: black;
    font-weight: bold;
}
.gif, p {
    font-size: 18px;
    font-weight: bold;
    color: #5e83fa;
    max-width: 250px;
    background-color: rgba(255, 255, 255, 0.733);
    text-align: center;
}

.gifDiv, p {
    font-size: 18px;
    font-weight: bold;
    color: #5e83fa;
    max-width: 250px;
    background-color: rgba(255, 255, 255, 0.733);
    text-align: center;
}



.formDiv {

    color: greenyellow;
    
}

#favoriteGifs {
    max-width: 200px;
    border-left-width: 2px;
    border-left-color: gray;
}
#faveTitle {
    text-align: center;

}