body {
  
    background-color: firebrick;
    background: url(../images/nintendo_background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: whitesmoke;
}

/* #topicForm {
    
} */
.gif, p {
    font-size: 18px;
    font-weight: bold;
    color: #88ff7b;
    max-width: 200px;
    
}

.formDiv {

    color: greenyellow;
    
}

#favoriteGifs {
    max-width: 200px;
    border-left-width: 2px;
    border-left-color: gray;
}
#faveTitle {
    text-align: center;

}